<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C //DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:tal="http://xml.zope.org/namespaces/tal"
      xmlns:metal="http://xml.zope.org/namespaces/metal"
      xml:lang="en" lang="en"
      metal:use-macro="master.macros.layout">     
      <div metal:fill-slot="main" class="six_column section main">
         <div class="four column">
          <div class="column_content">
           <iframe src="http://geocommons.com/maps/52950/embed" width="100%" height="500"></iframe>
          </div>
        </div>
        
        <div class="two column right">
          <div class="column_content">
           <p>A <a href="http://en.wikipedia.org/wiki/Food_desert">Food Desert</a> is a region with limited or no access to healthy foods. Some DC neighborhoods have limited shopping options for residents to buy fresh groceries and produce. This map illustrates the disproportionate availability of grocery stores across the city.</p>

<p>Green dots identify grocery stores, the surrounding green circles represent a 1/2 mile, and the red circles represent 3/4 mile. These distances are based on ease of transporting groceries for shoppers who would be walking or taking public transportation. The data are presented on separate layers to allow adjusting their visibility.</p>

<p>This map can be used to help policy makers understand the relationships between food options and other variables, such as social demographics, zoning laws and public transportation. The data used for this map is taken from http://data.dc.gov/.</p>
          </div>
        </div>
       </div>
</html>
